In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)
headersList = soup.find_all('span',class_="mw-headline")
#print(headersList)
headersArr = []
for i in headersList:
    headersArr.append(i.text)
headersArr

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [31]:
#Write a python program to display IMDB’s Top rated 100 movies’ data 
#(i.e. Name, IMDB rating, Year of release) and make data frame.
def getTheListOfIMDB(link):
    page = requests.get(link)
    soup = BeautifulSoup(page.content)
    ratingsList = soup.find_all('div',class_="inline-block ratings-imdb-rating")
    ratingsArr = []
    for i in ratingsList:
        ratingsArr.append(i.text.replace('\n',''))
    titlesList = soup.find_all('h3',class_="lister-item-header")
    titlesArr = []
    for i in titlesList:
        title = i.text.replace('\n','')
        dotElement = title.find('.')
        titlesArr.append(title[dotElement+1:-6])
    yearsList = soup.find_all('span',class_="lister-item-year text-muted unbold")
    yearsArr = []
    for i in yearsList:
        yearStr = i.text.replace('\n','')
        yearsArr.append(yearStr[1:-1])
    retData = pd.DataFrame({})
    retData['Name'] = titlesArr
    retData['IMDB rating'] = ratingsArr
    retData['Year Of Release'] = yearsArr
    return retData
list1To50 = getTheListOfIMDB('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
list51To100 = getTheListOfIMDB('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')
finalAnswer = pd.concat([list1To50, list51To100],ignore_index=True)
finalAnswer

                                 Name IMDB rating Year Of Release
0            The Shawshank Redemption         9.3            1994
1                       The Godfather         9.2            1972
2                     The Dark Knight         9.0            2008
3              The Godfather: Part II         9.0            1974
4                        12 Angry Men         9.0            1957
..                                ...         ...             ...
95                 North by Northwest         8.3            1959
96                            Vertigo         8.3            1958
97                Singin' in the Rain         8.3            1952
98                       Citizen Kane         8.3            1941
99  M - Eine Stadt sucht einen Mörder         8.3            1931

[100 rows x 3 columns]

In [31]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data 
#(i.e. Name, IMDB rating, Year of release) and make data frame.
link = 'https://www.imdb.com/india/top-rated-indian-movies/'
page = requests.get(link)
soup = BeautifulSoup(page.content)
titlesList = soup.find_all('td',class_="titleColumn",limit = 100)
titlesArr = []
yearArr = []
for i in titlesList:
    title = i.text.replace('\n','').replace(' ','')
    dotElement = title.find('.')
    yearArr.append(title[-5:-1])
    titlesArr.append(title[dotElement+1:-6])
ratingsList = soup.find_all('td',class_="ratingColumn imdbRating",limit = 100)
ratingArr = []
for i in ratingsList:
    ratingArr.append(i.text.replace('\n',''))
ratingArr
retFrame = pd.DataFrame({})
retFrame['Name'] = titlesArr
retFrame['IMDB rating'] = ratingArr
retFrame['Year of release'] = yearArr
retFrame

                     Name IMDB rating Year of release
0          PatherPanchali         8.5            1955
1                 Nayakan         8.5            1987
2        PariyerumPerumal         8.5            2018
3               AnbeSivam         8.5            2003
4                 Golmaal         8.5            1979
..                    ...         ...             ...
95          AndazApnaApna         8.1            1994
96              Virumandi         8.1            2004
97  Uri:TheSurgicalStrike         8.1            2018
98                     PK         8.1            2014
99                  Lucia         8.1            2013

[100 rows x 3 columns]

In [4]:
#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
link = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
page = requests.get(link)
soup = BeautifulSoup(page.content)
titlesList = soup.find_all('tr',class_="rankings-block__banner",limit = 10)
titlesArr = []
matchesArr = []
pointsArr = []
ratingArr = []
for i in titlesList:
    teamData = i.text
    leaderArr = list(filter(None,teamData.split("\n")))
    titlesArr.append(leaderArr[1])
    matchesArr.append(leaderArr[3])
    pointsArr.append(leaderArr[4])
    ratingArr.append(leaderArr[5])
runnersList = soup.find_all('tr',class_="table-body",limit = 9)
for i in runnersList:
    teamData = i.text
    runnersArr = list(filter(None,teamData.split("\n")))
    titlesArr.append(runnersArr[1])
    matchesArr.append(runnersArr[3])
    pointsArr.append(runnersArr[4])
    ratingArr.append(runnersArr[5])

menTeamFrame = pd.DataFrame({})
menTeamFrame['Teams'] = titlesArr
menTeamFrame['Matches'] = matchesArr
menTeamFrame['Points'] = pointsArr
menTeamFrame['Rating'] = ratingArr
menTeamFrame

          Teams Matches Points                           Rating
0   New Zealand      17  2,054                              121
1     Australia      25  2,945                              118
2         India      29  3,344                              115
3       England      27  3,100                              115
4  South Africa      20  2,137                              107
5      Pakistan      24  2,323                               97
6    Bangladesh      27  2,438                               90
7   West Indies      27  2,222                               82
8     Sri Lanka      24  1,876                               78
9   Afghanistan      17  1,054                               62

In [33]:
#ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
#iii) Top 10 ODI bowlers along with the records of their team and rating
link = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
page = requests.get(link)
soup = BeautifulSoup(page.content)
leaderBatsmansList = soup.find_all('div',class_="rankings-block__banner--name",limit = 10)
leaderNationsList = soup.find_all('div',class_="rankings-block__banner--nationality",limit = 10)
storeLeaderNationArr = []
storeLeaderArr =[]
storeLeaderRatingArr =[]
for i in leaderBatsmansList:
    storeLeaderArr.append(i.text.replace('\n',''))
for i in leaderNationsList:
    nationRating = i.text.replace('\n','').replace(' ','')
    storeLeaderRatingArr.append(nationRating[-3:])
    storeLeaderNationArr.append(nationRating[:-3])
batsmenNameArr = [storeLeaderArr[0]]
batsmenTeamArr = [storeLeaderNationArr[0]]
batsmenRatingArr = [storeLeaderRatingArr[0]]
bowlerNameArr = [storeLeaderArr[1]]
bowlerTeamArr = [storeLeaderNationArr[1]]
bowlerRatingArr = [storeLeaderRatingArr[1]]
runnersList = soup.find_all('td',class_="table-body__cell name",limit=18)
listArr = []
for i in runnersList:
    listArr.append(i.text.replace('\n',''))
batsmensList=listArr[:9]
for i in batsmensList:
    batsmenNameArr.append(i)
# batsmenNameArr
bowlersList=listArr[9:18]
for i in bowlersList:
    bowlerNameArr.append(i)
runnercountryHtml = soup.find_all('span',class_="table-body__logo-text",limit=18)
teamsList = []
for i in runnercountryHtml:
    teamsList.append(i.text)
batsmenTeamsList=teamsList[:9]
for i in batsmenTeamsList:
    batsmenTeamArr.append(i)
# batsmenNameArr
bowlersTeamsList=teamsList[9:18]
for i in bowlersTeamsList:
    bowlerTeamArr.append(i)
runnerRatingHtml = soup.find_all('td',class_="table-body__cell u-text-right rating",limit=18)
runnerRatingList = []
for i in runnerRatingHtml:
    runnerRatingList.append(i.text)
batsmenRatingList=runnerRatingList[:9]
for i in batsmenRatingList:
    batsmenRatingArr.append(i)
# batsmenNameArr
bowlersRatingList=runnerRatingList[9:18]
for i in bowlersRatingList:
    bowlerRatingArr.append(i)
batsmenFrame = pd.DataFrame({})
bowlerFrame = pd.DataFrame({})
batsmenFrame['Player'] = batsmenNameArr
batsmenFrame['Team'] = batsmenTeamArr
batsmenFrame['Rating'] = batsmenRatingArr
bowlerFrame['Player'] = bowlerNameArr
bowlerFrame['Team'] = bowlerTeamArr
bowlerFrame['Rating'] = bowlerRatingArr
bowlerFrame

              Player Team Rating
0        Trent Boult   NZ    737
1       Mehedi Hasan  BAN    713
2   Mujeeb Ur Rahman  AFG    708
3         Matt Henry   NZ    691
4     Jasprit Bumrah  IND    690
5      Kagiso Rabada   SA    666
6       Chris Woakes  ENG    665
7     Josh Hazlewood  AUS    660
8        Pat Cummins  AUS    646
9  Mustafizur Rahman  BAN    645

In [5]:
# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
# i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
link = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page = requests.get(link)
soup = BeautifulSoup(page.content)
titlesList = soup.find_all('tr',class_="rankings-block__banner",limit = 10)
titlesArr = []
matchesArr = []
pointsArr = []
ratingArr = []
for i in titlesList:
    teamData = i.text
    leaderArr = list(filter(None,teamData.split("\n")))
    titlesArr.append(leaderArr[1])
    matchesArr.append(leaderArr[3])
    pointsArr.append(leaderArr[4])
    ratingArr.append(leaderArr[5])
runnersList = soup.find_all('tr',class_="table-body",limit = 9)
for i in runnersList:
    teamData = i.text
    runnersArr = list(filter(None,teamData.split("\n")))
    titlesArr.append(runnersArr[1])
    matchesArr.append(runnersArr[3])
    pointsArr.append(runnersArr[4])
    ratingArr.append(runnersArr[5])

womenTeamFrame = pd.DataFrame({})
womenTeamFrame['Teams'] = titlesArr
womenTeamFrame['Matches'] = matchesArr
womenTeamFrame['Points'] = pointsArr
womenTeamFrame['Rating'] = ratingArr
womenTeamFrame

          Teams Matches Points                           Rating
0     Australia      18  2,955                              164
1  South Africa      24  2,828                              118
2       England      17  1,993                              117
3         India      20  2,226                              111
4   New Zealand      21  1,947                               93
5   West Indies      12  1,025                               85
6      Pakistan      15  1,101                               73
7    Bangladesh       5    306                               61
8     Sri Lanka      11    519                               47
9       Ireland       2     25                               13

In [6]:
#ii) Top 10 ODI Batsmen in women along with the records of their team and rating.
#iii) Top 10 ODI bowlers along with the records of their team and rating
link = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
page = requests.get(link)
soup = BeautifulSoup(page.content)
leaderBatsmansList = soup.find_all('div',class_="rankings-block__banner--name",limit = 10)
leaderNationsList = soup.find_all('div',class_="rankings-block__banner--nationality",limit = 10)
storeLeaderNationArr = []
storeLeaderArr =[]
storeLeaderRatingArr =[]
for i in leaderBatsmansList:
    storeLeaderArr.append(i.text.replace('\n',''))
for i in leaderNationsList:
    nationRating = i.text.replace('\n','').replace(' ','')
    storeLeaderRatingArr.append(nationRating[-3:])
    storeLeaderNationArr.append(nationRating[:-3])
batsmenNameArr = [storeLeaderArr[0]]
batsmenTeamArr = [storeLeaderNationArr[0]]
batsmenRatingArr = [storeLeaderRatingArr[0]]
bowlerNameArr = [storeLeaderArr[1]]
bowlerTeamArr = [storeLeaderNationArr[1]]
bowlerRatingArr = [storeLeaderRatingArr[1]]
runnersList = soup.find_all('td',class_="table-body__cell name",limit=18)
listArr = []
for i in runnersList:
    listArr.append(i.text.replace('\n',''))
batsmensList=listArr[:9]
for i in batsmensList:
    batsmenNameArr.append(i)
# batsmenNameArr
bowlersList=listArr[9:18]
for i in bowlersList:
    bowlerNameArr.append(i)
runnercountryHtml = soup.find_all('span',class_="table-body__logo-text",limit=18)
teamsList = []
for i in runnercountryHtml:
    teamsList.append(i.text)
batsmenTeamsList=teamsList[:9]
for i in batsmenTeamsList:
    batsmenTeamArr.append(i)
# batsmenNameArr
bowlersTeamsList=teamsList[9:18]
for i in bowlersTeamsList:
    bowlerTeamArr.append(i)
runnerRatingHtml = soup.find_all('td',class_="table-body__cell u-text-right rating",limit=18)
runnerRatingList = []
for i in runnerRatingHtml:
    runnerRatingList.append(i.text)
batsmenRatingList=runnerRatingList[:9]
for i in batsmenRatingList:
    batsmenRatingArr.append(i)
# batsmenNameArr
bowlersRatingList=runnerRatingList[9:18]
for i in bowlersRatingList:
    bowlerRatingArr.append(i)
womenBatsmenFrame = pd.DataFrame({})
womenBowlerFrame = pd.DataFrame({})
womenBatsmenFrame['Player'] = batsmenNameArr
womenBatsmenFrame['Team'] = batsmenTeamArr
womenBatsmenFrame['Rating'] = batsmenRatingArr
womenBowlerFrame['Player'] = bowlerNameArr
womenBowlerFrame['Team'] = bowlerTeamArr
womenBowlerFrame['Rating'] = bowlerRatingArr
womenBatsmenFrame

              Player Team Rating
0     Tammy Beaumont  ENG    765
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3    Stafanie Taylor   WI    746
4        Meg Lanning  AUS    723
5  Amy Satterthwaite   NZ    715
6    Smriti Mandhana  IND    710
7        Mithali Raj  IND    709
8     Natalie Sciver  ENG    685
9    Laura Wolvaardt   SA    683

In [36]:
# Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data 
# should include Product Name, Price, Image URL and Average Rating
link = 'https://www.amazon.in/s?k=mobiles+under+20000rs&crid=OS3AMRB2OT33&sprefix=mobiles+under+20000%2Caps%2C-1&ref=nb_sb_ss_ts-doa-p_1_16'
page = requests.get(link)
soup = BeautifulSoup(page.content)
phoneNameHtml = soup.find_all('span',class_="a-size-medium a-color-base a-text-normal",limit = 8)
phoneNameArr = []
for i in phoneNameHtml:
    nameAndSpecs = i.text
    ignoreWord = nameAndSpecs.find('(')-1
    name = nameAndSpecs[:ignoreWord]
    phoneNameArr.append(name)
phonePriceHtml = soup.find_all('span',class_="a-offscreen",limit = 8)
phonePriceArr = []
for i in phonePriceHtml:
    phonePriceArr.append(i.text)
imgHtml = soup.find_all('img',class_="s-image",limit = 8)
imgarr = []
for i in imgHtml:
    imgarr.append(i['src'])
ratingHtml = soup.find_all('span',class_="a-icon-alt",limit = 8)
ratingArr = []
for i in ratingHtml:
    ratingArr.append(i.text)
amazonDataFrame = pd.DataFrame({})
amazonDataFrame['Product Name'] = phoneNameArr
amazonDataFrame['Price'] = phonePriceArr
amazonDataFrame['Image'] = imgarr
amazonDataFrame['Rating'] = ratingArr
amazonDataFrame

,Product Name,Price,Image,Rating
0,Oppo A31,"₹11,490",https://m.media-amazon.com/images/I/61IhTtJUXJ...,4.2 out of 5 stars
1,Redmi 9,"₹15,990",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
2,Redmi 9A,"₹8,799",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
3,Oppo A31,"₹10,999",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.2 out of 5 stars
4,Samsung Galaxy M31,"₹6,799",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.3 out of 5 stars
5,Redmi 9 Power,"₹8,499",https://m.media-amazon.com/images/I/61LHaUOheh...,4.2 out of 5 stars
6,Samsung Galaxy M11,"₹11,490",https://m.media-amazon.com/images/I/71GQUxuSpn...,4.2 out of 5 stars
7,Samsung Galaxy M01 Core,"₹15,990",https://m.media-amazon.com/images/I/71AYb2AGHX...,3.7 out of 5 stars

In [7]:
# Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.
link = 'https://internshala.com/fresher-jobs'
page = requests.get(link)
soup = BeautifulSoup(page.content)
titleHtml = soup.find_all('div',class_="heading_4_5 profile")
titleArr = []
for i in titleHtml:
    titleArr.append(i.text.replace('\n',''))
# link_display_like_text
companyHtml = soup.find_all('a',class_="link_display_like_text")
companyArr = []
for i in companyHtml:
    companyArr.append(i.text.replace('\n','').replace('  ',''))
ctcHtml = soup.find_all('div',class_= "item_body")
# ctcHtml
ctcArr = []
applyDateArr = []
k=0
for i in ctcHtml:
    if (k+2)%3 == 0:
        ctcArr.append(i.text.replace('\n','').replace('  ',''))
    if (k+1)%3 == 0:
        applyDateArr.append(i.text)
    k=k+1
internshalaDataFrame = pd.DataFrame({})
internshalaDataFrame['Job Title'] = titleArr
internshalaDataFrame['Company Title'] = companyArr
internshalaDataFrame['CTC'] = ctcArr
internshalaDataFrame['Apply Date'] = applyDateArr
internshalaDataFrame
# phoneNameArr = []

,Job Title,Company Title,CTC,Apply Date
0,Business Development Executive,Picostone,3 - 6.5 LPA,19 Jul' 21
1,Associate Front End Developer,AIMonk Labs Technology Limited,6 - 7 LPA,18 Jul' 21
2,Corporate Sales Executive,369 Zoss Waters,3 - 5 LPA,18 Jul' 21
3,Associate Software Developer (Full-Stack - Rea...,SleekSky LLC,4 LPA,18 Jul' 21
4,Customer Relationship Specialist,InPhase Power Technologies,3 - 3.5 LPA,18 Jul' 21
5,Associate Editor Engagement,Cactus Communications Private Limited,3 - 4 LPA,18 Jul' 21
6,Management Consultant Associate,StrategyCo.Global,4.5 - 7 LPA,18 Jul' 21
7,Web Analytics Developer,DataVinci Private Limited,4.99 - 5 LPA,17 Jul' 21
8,Junior Social Media Marketing Manager,The Test Tribe,3 - 4 LPA,17 Jul' 21
9,Junior Social Media Marketing Associate,Glu Studios,3 - 3.6 LPA,17 Jul' 21
10,Business Development Manager (Digital Marketin...,Graygraph Technologies LLC,3 - 4.5 LPA,17 Jul' 21
11,Business Development Executive,BookLeaf Publishing,3 - 3.6 LPA,17 Jul' 21
12,Accountant,Ravi Ladia & Co,3 LPA,16 Jul' 21
13,Research Associate,Market Vistas Consumer Insights,3 - 3.25 LPA,17 Jul' 21
14,Assistant Coordinator - Tender Department,Global Source Trading LLC,3 LPA,16 Jul' 21
15,Customer Relationship Manager (Publishing Cons...,Blue Rose Publishers,3 - 3.5 LPA,16 Jul' 21
16,Executive Assistant To Director,Best Roadways Limited,3 LPA,17 Jul' 21
17,Learning Consultant - Sales,Geekster,3 - 3.5 LPA,16 Jul' 21
18,School/Teacher Consultant,InfyBytes AI Labs Private Limited,3 - 4 LPA,16 Jul' 21
19,Junior Recruiter,Radish Consultants Private Limited,3 - 5 LPA,16 Jul' 21
20,Software Developer,Moxie.xyz,9 LPA,15 Jul' 21
21,Business Development Executive (Inside Sales),GREedge,3.75 LPA,15 Jul' 21
22,Web Developer,Fullmoon Outdoor Web Solutions,4 - 4.2 LPA,15 Jul' 21
23,Order Processor,InspectHOA,3 LPA,14 Jul' 21
24,Full Stack Developer,Nikulsan Technologies Private Limited,3.5 - 5 LPA,14 Jul' 21
25,Associate Software Developer,IQGateway,3.6 - 10 LPA,11 Jul' 21
26,Reactjs Developer,Startxlabs Technologies Private Limited,3 - 4 LPA,11 Jul' 21
27,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA,11 Jul' 21
28,Business Development Executive,Varenyam Placements,3 - 4 LPA,11 Jul' 21
29,Corporate Sales Associate,HealthPlix Technologies Private Limited,3 - 4 LPA,11 Jul' 21
30,Inside Sales Associate,Wizklub Learning,3 - 6 LPA,11 Jul' 21
31,Mobile App Developer,Fusion Engineering,4.5 - 5.25 LPA,14 Jul' 21
32,Junior MERN Stack Developer,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,15 Jul' 21
33,Education Innovation Manager,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,10 Jul' 21
34,General Management Associate,Redwood Algorithms,4 - 5 LPA,10 Jul' 21
35,Content & E-commerce Management Trainee,Blooprint Ecom Consulting,3 LPA,9 Jul' 21
36,Software Engineer,QuikieApps,3 - 4 LPA,9 Jul' 21
37,Sales Support & Operations Executive,SysCloud Technologies Private Limited,3 - 3.01 LPA,9 Jul' 21
38,Backend Developer,Medcords Healthcare Solution Private Limited,3 - 7 LPA,9 Jul' 21
39,Accountant,Bagga Infrastructure Limited,3 - 3.25 LPA,8 Jul' 21

In [30]:
# Write a python program to extract information about the local weather from the National Weather Service website of USA, 
# https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city.
# The data should include period, short description, temperature and description.
link = 'https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YMyAQWgzY2z'
page = requests.get(link)
soup = BeautifulSoup(page.content)
titleHtml = soup.find_all('p',class_="period-name")
titleArr = []
for i in titleHtml:
    titleArr.append(i.text.replace('\n',''))
tempLowHtml = soup.find_all('p',class_="temp temp-low")
tempLowArr = []
for i in tempLowHtml:
    tempLowArr.append(i.text.replace('\n',''))
tempHighHtml = soup.find_all('p',class_="temp temp-high")
tempHighArr = []
for i in tempHighHtml:
    tempHighArr.append(i.text.replace('\n',''))
tempArr = [None]*(len(tempLowArr)+len(tempHighArr))
tempArr[::2] = tempLowArr
tempArr[1::2] = tempHighArr
shortDescHtml = soup.find_all('p',class_="short-desc")
shortDescArr = []
for i in shortDescHtml:
    shortDescArr.append(i.text.replace('\n',''))
longDescHtml = soup.find_all('div',class_="col-sm-10 forecast-text",limit = 9)
longDescArr = []
for i in longDescHtml:
    longDescArr.append(i.text.replace('\n',''))
# longDescArr
tempDataFrame = pd.DataFrame({})
tempDataFrame['Period'] = titleArr
tempDataFrame['Short Description'] = shortDescArr
tempDataFrame['Temperature'] = tempArr
tempDataFrame['Description'] = longDescArr
tempDataFrame

,Period,Short Description,Temperature,Description
0,Overnight,Mostly Clear,Low: 56 °F,"Mostly clear, with a low around 56. Southwest ..."
1,Saturday,Sunny thenSunny andBreezy,High: 71 °F,"Sunny, with a high near 71. Breezy, with a wes..."
2,SaturdayNight,Mostly Clearand Breezythen PartlyCloudy,Low: 56 °F,"Mostly clear, with a low around 56. Breezy, wi..."
3,Sunday,Mostly Sunnythen Sunnyand Breezy,High: 71 °F,"Sunny, with a high near 71. Breezy, with a wes..."
4,SundayNight,Partly Cloudy,Low: 57 °F,"Partly cloudy, with a low around 57. West sout..."
5,Monday,Partly Sunnythen Sunnyand Breezy,High: 69 °F,"Mostly sunny, with a high near 69. Breezy."
6,MondayNight,Mostly Clearand Breezythen MostlyCloudy,Low: 58 °F,"Partly cloudy, with a low around 58. Breezy."
7,Tuesday,Mostly Sunny,High: 69 °F,"Mostly sunny, with a high near 69."
8,TuesdayNight,Partly Cloudy,Low: 58 °F,"Partly cloudy, with a low around 58."

In [60]:
link = 'https://bookpage.com/reviews'
page = requests.get(link)
soup = BeautifulSoup(page.content)
titleHtml = soup.find_all('h4',class_="italic",limit=5)
titleArr = []
for i in titleHtml:
    titleArr.append(i.text.replace('\n',''))
authorHtml = soup.find_all('p',class_="sans bold",limit=5)
authorArr = []
for i in authorHtml:
    authorArr.append(i.text.replace('\n',''))
#genre-links hidden-phone
genereHtml = soup.find_all('p',class_="genre-links hidden-phone",limit=5)
genereArr = []
for i in genereHtml:
    genereArr.append(i.text.replace('\n',''))
def getTheReviewByLink(Link):
    page1 = requests.get(Link)
    soup1 = BeautifulSoup(page1.content)
    reviewHtml = soup1.find('div',class_="article-body")
    return reviewHtml.text
#read-full
reviewLinkHtml = soup.find_all('div',class_="read-full",limit=5)
reviewArr = []
for i in reviewLinkHtml:
    link1 = i.find('a')['href']
    link = 'https://bookpage.com' + link1
    review = getTheReviewByLink(link)
    reviewArr.append(review)
bookpageDataFrame = pd.DataFrame({})
bookpageDataFrame['Book Title'] = titleArr
bookpageDataFrame['Author'] = authorArr
bookpageDataFrame['Genere'] = genereArr
bookpageDataFrame['Review'] = reviewArr
bookpageDataFrame

,Book Title,Author,Genere,Review
0,The Rose Code,"Kate Quinn, Saskia Maarleveld",Audio / Fiction / Historical Fiction,"\n\nBletchley Park, the mansion where Oxford d..."
1,The Damage,Caitlin Wahrer,Mystery & Suspense / Suspense,\n\nWith twists worthy of a season finale of “...
2,★ Blackout,"Dhonielle Clayton, Tiffany D. Jackson, Nic Sto...",YA / YA Fiction,"\n\nIn Blackout, six of YA’s biggest superstar..."
3,★ The Sweetness of Water,Nathan Harris,Fiction / Historical Fiction,"\n\nNathan Harris’ Civil War-set debut novel, ..."
4,The Killing Hills,Chris Offutt,Fiction / Crime Fiction,\n\nWhile Old Man Tucker is out collecting gin...

In [73]:
link = 'https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0'
page = requests.get(link)
soup = BeautifulSoup(page.content)
titleHtml = soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY")
titleArr = []
for i in titleHtml:
    titleArr.append(i.text)
locationHtml = soup.find_all('div',class_="nb__2CMjv")
locationArr = []
for i in locationHtml:
    locationArr.append(i.text)
emiPrizeAreaHtml = soup.find_all('div',class_="font-semi-bold heading-6")
emiArr = []
areaArr = []
prizeArr = []
count = 0
for i in emiPrizeAreaHtml:
    if count%3 == 1:
        emiArr.append(i.text)
    if count%3 == 2:
        prizeArr.append(i.text)
    if count%3 == 0:
        areaArr.append(i.text)
    count = count +1
noBrokerDataFrame = pd.DataFrame({})
noBrokerDataFrame['Flat Title'] = titleArr
noBrokerDataFrame['Flat Location'] = locationArr
noBrokerDataFrame['Area'] = areaArr
noBrokerDataFrame['Location'] = emiArr
noBrokerDataFrame['Prize'] = prizeArr
noBrokerDataFrame

,Flat Title,Flat Location,Area,Location,Prize
0,4 BHK In Independent House For Sale In Hosa ...,Oxford English School,"1,800 sqft","₹45,851/Month",₹80 Lacs
1,4 BHK In Independent House For Sale In Ear O...,"Independent House, Near opposite to Sobha Sili...","1,200 sqft","₹45,851/Month",₹80 Lacs
2,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys Garden Kammasandra Rd, Kammasandra, El...","2,600 sqft","₹85,971/Month",₹1.5 Crores
3,4 BHK In Independent House For Sale In Sarja...,"Independent House, Shantipura Village , S.P L...","1,100 sqft","₹40,120/Month",₹70 Lacs
4,4 BHK Flat For Sale In Electronic City,"Standalone Building, Shikaripalya, near Shams ...","1,400 sqft","₹20,060/Month",₹35 Lacs
5,4 BHK In Independent House For Sale In Elect...,"Independent House, Krishna reddy layout-Near ...","2,500 sqft",₹1.43 Lacs/Month,₹2.5 Crores
6,4 BHK In Independent House For Sale In Elect...,"Independent House, Dhruv Dhama LayoutNear Hedd...","2,400 sqft","₹51,583/Month",₹90 Lacs
7,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft","₹63,045/Month",₹1.1 Crores
8,4 BHK Flat For Sale In Electronic City,"Standalone Building, Konappana Agrahara, Near ...","1,120 sqft","₹28,657/Month",₹50 Lacs
9,4 BHK Flat For Sale In Heena Enclave In Elec...,"Neeladri Nagar,Near Pioneer Sun Blossom","2,350 sqft","₹71,643/Month",₹1.25 Crores